*.suo
.vs/

RPG/Assets/MotionFramework
RPG/Assets/MotionFramework.meta
RPG/Assets/StreamingAssets
RPG/Assets/StreamingAssets.meta
RPG/Assets/GameScript/Runtime/ILRBinding

RPG/Bundles
RPG/Library
RPG/Temp
RPG/obj
RPG/bin
RPG/Game/obj
RPG/Game/Output

RPG/Assembly-CSharp.csproj
RPG/Assembly-CSharp-Editor.csproj
RPG/MotionFramework.csproj
RPG/MotionFramework.Editor.csproj
RPG/RPG.sln
RPG/YooAsset.csproj
RPG/YooAsset.Editor.csproj