bin/
obj/
.vs/
Library/
Temp/
BuildBundles/
Sandbox/

Assets/MotionFramework
Assets/MotionFramework.meta
Assets/StreamingAssets
Assets/StreamingAssets.meta
Assets/Works/_Script_/Runtime/ILBinding
Assets/Works/_Script_/Runtime/ILBinding.meta
Assets/Works/Resource/Assembly
Assets/Works/Resource/Assembly.meta

*.sln
*.suo
*.csproj
